<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="MySQL_AFIS_Conn" connectionString="Server=localhost; Database=afis;Uid=root;Pwd=root;"/>
    </connectionStrings>
  <appSettings>
    <add key="defaultImageForMatch" value="..\..\images\utilImage\selectFpLarge.bmp"/>
    <add key="CustUserReportPath" value="..\..\reports\UserAccessReport"/>
    <add key="PersonReportPath" value="..\..\reports\PersonDetailReport"/>
    <add key="DupFingerprintReportPath" value="..\..\reports\DuplicateFingerprintReport"/>
    <add key="InitialThresholdScore" value="60"/>
    <add key="DefaultFpImagePath" value="..\..\images\utilImage\FpNotAvailable.bmp"/>
    <add key="WatermarkConfidential" value="Confidential"/>
    <add key="WatermarkTopSecret" value="Top Secrect"/>
    <add key="FingerprintTemplateLoaderDefaultInterval" value="300000"/>
    <add key="DefaultCompanyLogo" value="..\..\images\utilImage\DefaultCompanyLogo.bmp"/>

  </appSettings>
</configuration>