<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="MySQL_AFIS_Conn" connectionString="Server=localhost; Database=afis;Uid=mohsinrm;Pwd=mohsinrm01;"/>
    </connectionStrings>
</configuration>